.app-header {
    height: 100vh;

    background-image: url('/img/globe.png');
    background-position: center;
}

.app-header .delete-cache {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    cursor: pointer;
    transition: 0.3s;
}

.app-header .delete-cache:hover {
    scale: 1.05;
    opacity: 0.8;
}

.app-header .hero {
    position: absolute;
    top: 3rem;
    left: 2rem;

    display: grid;
}

.app-header .hero h1 {
    font-family: 'Lato', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: clamp(2rem, 4vw, 7rem);
    font-weight: 700;
    text-shadow: 1px 1px 1px white;
    color: #ccf3ff;
    margin-block-end: 2rem;
}

.app-header .hero form {
    display: flex;
    gap: 5px;
    width: 50%;
}

.app-header form > *{
    padding: 1em;
    margin: 0;
    border-radius: 1em;
    border: none;
}

.app-header form input{
    flex: 1;
    font-size: 1rem;
}